@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* @apply bg-sky-800; */
  font-family: 'Inter', sans-serif;
}
@keyframes gradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animate-gradient {
  animation: gradient 5s ease infinite;
  background-size: 400% 400%;
}

@keyframes glow {
  0%, 100% { text-shadow: 0 0 5px #00f2fe, 0 0 10px #4facfe, 0 0 20px #00f2fe; }
  50% { text-shadow: 0 0 15px #4facfe, 0 0 30px #00f2fe, 0 0 50px #4facfe; }
}

.animate-glow {
  animation: glow 1.5s ease-in-out infinite;
}
